include: 'https://code.revolt.org/riseup/tcp/containers/glue/raw/no-masters/.gitlab-ci.yml'

# 'build' goes before 'test' because we test the container images
# that we've just built.
stages:
  - build
  - test
  - accessibility
  - release

test:
  stage: test
  image: registry.git.autistici.org/ai3/docker/test/python:chromedriver
  services:
    - name: "${IMAGE_TAG}"
      alias: website
  variables:
    APACHE_PORT: 8080
    SITE_URL: "http://website:8080"
    TOX_TESTENV_PASSENV: SITE_URL
  script:
    - cd render-test
    - ulimit -c 0
    - tox --skip-pkg-install
  artifacts:
    when: always
    paths:
      - render-test/screenshots/

a11y:
  stage: accessibility
  image: registry.gitlab.com/gitlab-org/ci-cd/accessibility:5.3.0-gitlab.3
  services:
    - name: "${IMAGE_TAG}"
      alias: website
  variables:
    a11y_urls: "http://website:3000 http://website:3000/donate http://website:3000/about-us http://website:3000/email"
  script: /gitlab-accessibility.sh $a11y_urls
  allow_failure: true
  artifacts:
    when: always
    expose_as: 'Accessibility Reports'
    paths: ['reports/']
    reports:
      accessibility: reports/gl-accessibility.json
  rules:
    - if: $a11y_urls
